<!--           
          <div class="news">
            {% if site.news != blank -%} 
            {%- assign news_size = site.news | size -%}
            <div class="table-responsive" {% if site.news_scrollable and news_size > 3 %}style="max-height: 10vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%}
              {% if site.news_limit %}
              {% assign news_limit = site.news_limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% for item in news limit: news_limit %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div> -->
<div class="news mt-3 p-0">
  <!-- <h2>News</h2> -->
  <!-- <div class="table-responsive"> -->
  <!-- <table class="table table-sm table-borderless"> -->

  <div class="row p-0">
    <div class="col-sm-2 p-0">
      <span class="badge danger-color-dark darken-1 font-weight-bold text-uppercase align-middle date ml-3">
        Jan 2, 2023
      </span>
    </div>
    <!-- <th scope="row"></th> -->
    <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
      Reported as an outstanding college student by the official media of Central South University. Life is more than
      one dimension! <a
        href="https://mp.weixin.qq.com/s?__biz=MzA5NTI2MzExNA==&mid=2651106092&idx=1&sn=1aa3660d57b493913c793ab3472fc91f&chksm=8bb20bc9bcc582df94acd6fb9e2c21f1faa35e814ce38ad2d62d6dee5a108a9adf1a449245c0&scene=126&sessionid=1674647462#rd">Page</a>📸

    </div>
  </div>



  <div class="row p-0">
    <div class="col-sm-2 p-0">
      <span class="badge danger-color-dark darken-1 font-weight-bold text-uppercase align-middle date ml-3">
        Nov 7, 2022
      </span>
    </div>
    <!-- <th scope="row"></th> -->
    <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
      Named as an outstanding student the second time!(Also won honors such as outstanding youth volunteers and
      outstanding student cadres, before.) <img class="emoji" title=":sparkles:" alt=":sparkles:"
        src="https://github.githubassets.com/images/icons/emoji/unicode/2728.png" height="20" width="20">.
    </div>
  </div>



  <div class="row p-0">
    <div class="col-sm-2 p-0">
      <span class="badge danger-color-dark darken-1 font-weight-bold text-uppercase align-middle date ml-3">
        Sep 28, 2022
      </span>
    </div>
    <!-- <th scope="row"></th> -->
    <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
      Recommended to study at Wuhan University! Hope to enjoy this three-years journey. 📖

    </div>
  </div>



  <div class="row p-0">
    <div class="col-sm-2 p-0">
      <span class="badge danger-color-dark darken-1 font-weight-bold text-uppercase align-middle date ml-3">
        Jun 18, 2022
      </span>
    </div>
    <!-- <th scope="row"></th> -->
    <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
      Our band performed successfully at the Yuelu Music Festival! Cheers! Check <a
        href="http://xiangyue-zhang.github.io/more/" target="_self">More</a>
      to see
      pictures. 🥂

    </div>
  </div>


  <!-- </table> -->
  <!-- </div> -->
</div>